{{ attach_library('islands_examples/example_component') }}
{{ attach_library('islands_examples/example_styles') }}

<p>Many, many examples.</p>
<ul>
  <li>Web components (this page)</li>
  <li><a href="/islands-examples/vue">Vue</a></li>
  <li>Preact</li>
  <li>Svelte</li>
  <li>With SDCs</li>
  <li>With Drupal content</li>
  <li>What about React?</li>
</ul>

<hr />

<p>Below is a basic web component. It won't be styled until js is loaded. This
first example proves that the component will initialize without the use of
islands.</p>

<example-component>This is an example component</example-component>

<p>Dotted borders below signify the drupal-island elements. They will load the example component using a variety of different behaviors.</p>

{# Todo - show code snippets here #}
<drupal-island on:visible>
  <example-component>This component will load when visible</example-component>
</drupal-island>

<drupal-island on:idle>
  <example-component>This component will load after the initial page load using requestIdleCallback()</example-component>
</drupal-island>

<drupal-island on:interaction>
  <example-component>This component will only load on interaction (click, touch, etc)</example-component>
</drupal-island>

<drupal-island on:interaction>
  This component will only load on interaction, but it leaves this pre-js markup in place.
  <template data-island>
    <example-component>This is an example component</example-component>
  </template>
</drupal-island>

<drupal-island on:interaction>
  This component will only load on interaction, but replaces this pre-js markup.
  <template data-island="replace">
    <example-component>This is an example component</example-component>
  </template>
</drupal-island>

<h2>Scroll down</h2>
<hr style="height: 100vh">

<drupal-island on:visible>
  <example-component>This component also only loaded when visible</example-component>
</drupal-island>

<drupal-island on:visible autoinit="preact" import="islands_examples/island-theme.island.js"></drupal-island>

{# Desired api...
<drupal-island on:visible autoinit="preact" import="is-land-theme">
  <template data-island>
    {{ content.field_image}}
  </template>
</drupal-island>
#}
